@{
    ViewData["Title"] = "Home Page";
}

<div style="background:#CBC3E3">
<div  class="text-center ">
    <h1 class=" font-weight-bold border border-4 " style="background:#D8BFD8">IBKS Task </h1>
    <h5>This website represents Users and Projects where you can perform the CRUD operations on each element  </h5>
    
    


    <a href="/Users/View" class="btn btn-primary btn-lg fs-1 text-decoration-none">Users</a>
    <img src="~/lib/mvc.png" class="img-thumbnail m-4" width="600px" height="600px">
    <a href="/Projects/View" class="btn btn-primary btn-lg fs-1 text-decoration-none">Projects</a>

</div>
    <div class="container text-left">
<h5>What was used to build this website ? </h5>
<ul>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>Bootstrap</li>
        <li>SQL Server</li>
        <li>XUNit For Testing </li>
        <li>Postman</li>
        <li>Uploaded To Github</li>
</ul>
</div>





</div>
